{{#each saved}}
	<article>
	<aside>
		<img src={{this.image}} alt={{this.title}}>
	</aside>
	<div class="article-middle">
		<a href="https://www.jacobinmag.com{{this.link}}" target="_blank">
			<h2>{{this.title}}</h2>
		</a>
		<h3>{{this.author}}</h3>
		<p>{{this.summary}}</p>
	</div>
	<div class="article-delete">
		  <i id="delete" class="material-icons" data-id={{this._id}}>delete</i>
	</div>
	<div class="article-note">
		  <i class="note-button material-icons modal-trigger modal-trigger" href="#modal{{this._id}}" data-id={{this._id}}>create</i>
	</div>
	</article>

	<div id="modal{{this._id}}" class="modal">
	    <div class="modal-content">
	      <h4>Your Notes for {{this.title}}</h4>
	    </div>
	    <div class="your-notes">
	    </div>
	    <form>
	    	<label for="note">Notes</label>
	    	<input type="text" name="note" id="note{{this._id}}">
	    </form>
	    <div class="modal-footer">
	      <a href="#" data-id={{this._id}} class="modal-close add-note waves-effect waves-green btn-flat">Add Note</a>
	      <a href="#" class="modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>
{{/each}}