{{#each saved}}
	<article>
	<aside>
		<img src={{this.image}} alt={{this.title}}>
	</aside>
	<div class="article-middle">
		<a href="https://www.jacobinmag.com{{this.link}}" target="_blank">
			<h2>{{this.title}}</h2>
		</a>
		<h3>{{this.author}}</h3>
		<p>{{this.summary}}</p>
	</div>
	<div class="article-delete">
		  <i id="delete" class="material-icons" data-id={{this._id}}>delete</i>
	</div>
	<div class="article-note">
		  <i id="note" class="material-icons modal-trigger modal-trigger" href="#modal1" data-id={{this._id}}>create</i>
	</div>
	</article>

	<div id="modal1" class="modal">
	    <div class="modal-content">
	      <h4>Modal Header</h4>
	      <p>A bunch of text</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#" class="modal-close waves-effect waves-green btn-flat">Agree</a>
	    </div>
  	</div>
{{/each}}